// ELEMENT COLOURS


$hydrogen:        #F3FFE2;
$noble:           #3CBAC8;
$alkali:          #F0CA4D;
$alkaline:        #F3B562;
$metalloid:       #85CC9F;
$nonmetal:        #C8E8C7;
$halogen:         #93EDD4;
$poor:            #63A69F;
$transition:      #F2836B;

$lanthanoid:      #87A0A4;
$actinoid:        #56797F;

// HOVER STATES

$hydrogen-on:     #ffffff;
$noble-on:        #41deec;
$alkali-on:       #ffec66;
$alkaline-on:     #ffc982;
$metalloid-on:    #99e0b3;
$nonmetal-on: #dfffde;
$halogen-on:      #aaffe9;
$poor-on:         #78bab3;
$transition-on:   #ff9c81;

$lanthanoid-on: #9cb5b9;
$actinoid-on: #6a8d93;