// ELEMENT COLOURS


$hydrogen:        #F3FFE2;
$noble:           #3CBAC8;
$alkali:          #F0CA4D;
$alkaline:        #F3B562;
$metalloid:       #85CC9F;
$nonmetal:        #C8E8C7;
$halogen:         #93EDD4;
$poor:            #63A69F;
$transition:      #F2836B;

$lanthanoid:      #87A0A4;
$actinoid:        #56797F;