// ELEMENT COLOURS

$default:         #45B29D;

$noble:           #F2E1AC;
$alkali:          #EFC94C;
$alkaline:        #E27A3F;
$mboron:          #F2836B;
$carbon:          #F2E1AC;
$pnictogen:       #CD2C24;
$chalcogen:       #f23374;
$halogen:         #F2594B;
$pboron:          #FFFF9D;
$mcarbon:         #BEEB9F;
