.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.clear {
  clear:both;
}

.elements-container ul {

  li.adjust-value {

    height:69px;
    padding: 5px;
    width: 60px;

    h3 {
      font-size: 14px;
      text-align: center;
      line-height: 50px;
    }
  }

  .conceal{
    visibility: hidden;
  }

  /* ------------------
  ELEMENT COLOURS
  --------------------- */


  .hydrogen {
    background:$hydrogen;

    &:hover {
      background:$hydrogen-on;
    }

  }

  .noble {
    background:$noble;

    &:hover {
      background:$noble-on;
    }
  }

  .alkali {
    background:$alkali;

    &:hover {
      background:$alkali-on;
    }
  }

  .alkaline {
    background:$alkaline;

    &:hover {
      background:$alkaline-on;
    }
  }

  .metalloid {
    background:$metalloid;

    &:hover {
      background:$metalloid-on;
    }
  }

  .nonmetal {
    background:$nonmetal;

    &:hover {
      background:$nonmetal-on;
    }
  }

  .halogen {
    background:$halogen;

    &:hover {
      background:$halogen-on;
    }
  }

  .poor {
    background:$poor;

    &:hover {
      background:$poor-on;
    }
  }

  .transition {
    background:$transition;

    &:hover {
      background:$transition-on;
    }
  }

  // SUBS


  .lanthanoid {
    background:$lanthanoid;

    &:hover {
      background:$lanthanoid-on;
    }

  }

  .actinoid {
    background:$actinoid;

    &:hover {
      background:$actinoid-on;
    }

  }


  .missed {
    background: #fff;
    color:#000;
  }
}
