.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.clear {
  clear:both;
}

.elements-container ul {

  li.adjust-value {

    height:69px;
    padding: 5px;
    width: 60px;

    h3 {
      font-size: 14px;
      text-align: center;
      line-height: 50px;
    }
  }

  .conceal{
    visibility: hidden;
  }

  /* ------------------
  ELEMENT COLOURS
  --------------------- */


  .hydrogen {
    background:$hydrogen;
  }

  .noble {
    background:$noble;
  }

  .alkali {
    background:$alkali;
  }

  .alkaline {
    background:$alkaline;
  }

  .metalloid {
    background:$metalloid;
  }

  .nonmetal {
    background:$nonmetal;
  }

  .poor {
    background:$poor;
  }

  .halogen {
    background:$halogen;
  }

  .transition {
    background:$transition;
  }

  // SUBS


  .lanthanoid {
    background:$lanthanoid;

  }

  .actinoid {
    background:$actinoid;


  }



  .missed {
    background: #fff;
    color:#000;
  }
}
