body {
  background: #222;
}

.main-container {

  margin: -20px 0;

  nav {
    height: 96px;
    padding: 24px;
    color:#eaeaea;
  }

  .document-width {
    max-width: 1296px;
    margin: 0 auto 48px;
  }


}