.main-container {

  margin: -20px 0;

  nav {
    background: #eaeaea;
    height: 96px;
    padding: 24px;
  }

  .document-width {
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
  }

}