.element-view {

  position: absolute;
  width: 661px;
  left:151px;
  height:192px;
  background: #444;
  padding:24px;

  aside {
    background: #666;
    height:192px;
    width:160px;
  }

  h2{
    color:#fff;
  }
}