.element-view {

  position: absolute;
  width: 661px;
  left:151px;

  aside {
    height:145px;
    width:127px;
    padding: 7px;
    margin-top:81px;

  }

  h2{
    font-size: 48px;
    line-height: 0;
  }

  strong {
    font-size: 18px;
    font-weight: 400;
  }
}